
<html>
<body>

<h3>Careers Form</h3>

<div class="container">
  <form action="">
    <label for="fname">First Name</label><br>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">
    <br>
    <label for="lname">Last Name</label><br>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    <br>
    Address<br>
    <input type="text" id="address" name="address" placeholder="Address">
    <br>
   Qualification<br>
    <input type="text" id="address" name="address" placeholder="Your highest qualification">
    <br>
    
    
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
