/* p { font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 15px; color: #666; }
p { font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 15px; color: #666; } */

p { color: #333; font-family: 'Original Surfer', cursive; font-size: 16px; line-height: 28px; margin: 0 0 24px; }
p.byline { font-style: italic; color: #B6B6B6; font-size: 24px; margin-top: 20px; text-align: center; text-shadow: 0 1px 1px #fff; }