<br>
<br>
<br><br><br>
<h3>About Us</h3>
<p>
    Infogain is a Silicon Valley headquartered company with software platform engineering and deep domain expertise in travel, retail, insurance, automotive, and high technology. We accelerate the delivery of digital customer engagement systems using digital technologies such as cloud, microservices, robotic process automation and artificial intelligence to our clients.

    Our unique engagement approach of “Listen-Curate-Deploy” helps to accelerate the innovation journey of 5 of the world’s largest 50 companies and 24 of the Fortune 500, with several relationships of over 10 years. 
    
    We deliver positive business outcomes using rapid prototyping and a solid foundation of DevOps-based software platform engineering that ensure high-quality and on-time delivery. 
    
    Our 3,500 global employees across the US, UK, Singapore, Middle East and India focus on client value creation, delivery excellence and innovation.
</p>
